CompileFlags: # Tweak the parse settings
  Add: 
    - "--include-directory=/mnt/c/Users/riesp/Desktop/dev-work/osdev/include"
    - "--include-directory=/mnt/c/Users/riesp/Desktop/dev-work/osdev/include/std"
    - "--std=c++23"
    - "-Wall"
    - "-Wextra"