CompileFlags: # Tweak the parse settings
  Add: 
    - "--include-directory=/mnt/c/Users/pudy248/Desktop/dev-work/osdev/src"
    - "--include-directory=/mnt/c/Users/pudy248/Desktop/dev-work/osdev/src/std"
    - "--std=c++26"
    - "-Wall"
    - "-Wextra"