CompileFlags: # Tweak the parse settings
  Add: 
    - "--include-directory=C:/Users/pudy248/Desktop/dev-work/osdev/include"
    - "--include-directory=C:/Users/pudy248/Desktop/dev-work/osdev/include/std"